* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 252, 241);
}

.navbar-main-container {
    background-color: rgb(137, 53, 53);
    color: rgb(244, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    flex-wrap: wrap;
}

.main-container {
    height: 600px;
    width: 1527px;
    display: flex;
    position: sticky;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.main-logo {
    border-radius: 30px;

}

.nav-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
    color: #f9f9f9;
    margin: 0;
    padding: 0;
    list-style: none;

}

.nav-text-container {
    color: #f9f5f5;
    text-decoration: none;

}

.auth-links-containar {
    display: flex;
    gap: 20px;
    cursor: pointer;
}


.main-container {
    height: 600px;
    width: 1527px;
}


@media(max-width :768px) {

    .project-name {
        font-size: 30px;

    }
    
    .main-logo{
        width: 80px;

    }

    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 14px 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .navbar-main-container {
        flex-direction: column;
        text-align: center;
       
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        width: 100%;
        display: inline-block;
    }

    .auth-links-containar {
        flex-direction: column;
        text-align: center;
        padding: 12px;
    }

    .nav-text-container {
        display: block;
        margin-top: 12px;
        font-size: 14px;
        margin: 8px 0;
        margin-left: 5px;
        margin-right: 5px;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:769px)and (max-width:1024) {
    .navbar-main-container {
        gap: 18px;
    }
}


.tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.65);
    color: hsl(0, 0%, 100%);
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(246, 237, 233);
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
   max-width: 760px;
    margin: 40px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
}


.left-side {
    flex: 1;
    width: 50%;
    padding: 20px 15px;
    background: rgb(246, 237, 233);

}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d8c48a;
    padding-bottom: 10px;
}


.brand-logo-img {
    width: 45px;
    height: 45px;
    border-radius: 8px;
}



.brand-text {
    font-size: 16px;
    font-weight: bold;
    color: goldenrod;
}

.left-side h1 {
    font-size: 26px;
    margin: 8px 0;
    font-weight: bold;
    color: #2f2722;
    line-height: 1.2;
}

.left-side p {
    color: #6c625b;
    line-height: 1.3;
    font-size: 13px;
}

.interior-img {
    width: 100%;
    height: auto;
    max-width: 320px;
    margin-top: 15px;
    border-radius: 15px;
}


.right-side {
    flex: 1;
    padding: 35px;
    box-shadow: 0 10px 25px;
    border-radius: 15px;
}

.right-side h2 {
    font-size: 20px;
}

.desc {
    color: #555;
    margin-bottom: 15px;
    font-size: 13px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    ;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;

}

.terms {
    font-size: 12px;
}

.create-btn {
    background: #0a0a08;
    color: #fff;
    padding: 12px;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.create-btn:hover {
    background: #646463;
}


.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn1 {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px 10px;
    font-size: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.icon {
    width: 20px;
}

.btn {
    display: block;
    width: 160px;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    background: black;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}

.btn:hover {
    opacity: 0.8;
}


.footer {
    background-color: rgb(137, 53, 53);
    color: #fff;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;

}

.footer-top {
    text-align: center;
    margin-bottom: 30px;
    
}

.footer-logo {
    width: 150px;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
    font-size: 20px;
    flex-wrap: wrap;

}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;

}

.social-icons img {
    width: 25px;
    height: 30px;
    margin-right: 8px;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.col h4 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 12px;
    display: flex;
    
}

.col a {
    display: block;
    margin: 6px 0;
    color: #eee;
    text-decoration: none;
    font-size: 12px;
    transition: .3s;
}

.col a:hover {
    color: #ffcc00;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-links {
        text-align: center;

    }
}